[defaults]
inventory = inventory/hosts.yml
host_key_checking = False
retry_files_enabled = False
log_path = ./ansible-playbook.log
stdout_callback = default
roles_path = ./roles
inject_facts_as_vars = False
interpreter_python = auto_silent
vault_editor = nano

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
