{
  "inbound": {
    "configProfileUuid": "{{ config_profile_uuid }}",
    "configProfileInboundUuid": "{{ inbound_uuid }}"
  },
  "nodes": ["{{ node_uuid }}"],
  "remark": "{{ node_name }}",
  "address": "{{ node_domain }}",
  "port": 443,
  "path": "",
  "sni": "{{ node_domain }}",
  "host": "",
  "alpn": null,
  "fingerprint": "chrome",
  "allowInsecure": false,
  "isDisabled": false,
  "securityLayer": "DEFAULT"
}
