global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'remnawave'
    scheme: http
    metrics_path: /metrics
    scrape_interval: 30s
    basic_auth:
      username: "{{ remnawave_metrics_user }}"
      password: "{{ remnawave_metrics_pass }}"
    static_configs:
      - targets: ['{{ hostvars[groups["panel"][0]]["ansible_host"] }}:3001']

  - job_name: 'blackbox-https'
    metrics_path: /probe
    scrape_interval: 30s
    params:
      module: [http_2xx]
    static_configs:
      - targets:
{% for host in groups['nodes'] %}
        - https://{{ hostvars[host]['node_domain'] }}
{% endfor %}
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: target
      - target_label: __address__
        replacement: blackbox:9115

  - job_name: 'whitebox'
    metrics_path: /probe
    scrape_interval: 60s
    file_sd_configs:
      - files: ['/etc/prometheus/whitebox-sd-config.yml']
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [ctx]
        target_label: __param_ctx
      - source_labels: [client]
        target_label: client
      - source_labels: [protocol]
        target_label: protocol
      - source_labels: [__param_target]
        target_label: target
      - target_label: __address__
        replacement: whitebox:9116
